.app-shell-app{
    overflow: hidden !important;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    padding-bottom: 50px;
}

.left-column{
    width: 250px;
    overflow-y: scroll;
}

.left-column ul{
    /* min-height: 100vh; */
    height: inherit !important;
}

.left-column > div{
    background-color: #21252B;
}

.right-column{
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
}

.filter-area{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 10px;
}

.icu-bed-container{
    display: flex;
    flex-wrap: wrap;
}

.icu-bed{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    color: #ccc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.icu-bed svg{
    font-size: 50px;
}

.icu-bed:hover{
    cursor: pointer;
    opacity: 0.75;
}

.icu-bed.available{
    color: #28a745;
}

.icu-bed.occupied{
    color: #dc3545;
}

.icu-bed.reserved{
    color: #ffc107;
}

.bed-options{
    background-color: #fafafb;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.25);
    padding-top: 5px;
    padding-bottom: 5px;
}

.bed-options > div {
    padding: 5px;
    padding-left: 20px;
    min-width: 150px;
}

.bed-options > div:hover{
    cursor: pointer;
    background-color: rgb(226, 221, 221);
}

.inner-header{
    display: flex;
}

.inner-header .pull-right{
    margin-left: auto;
}

.inner-container{
    margin-top: 30px;
}

.icu-org{
    display: flex;
}

.icu-table{
    width: 60%;
}

.icu-map{
    width: 40%;
}

.info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.contact{
    border: 1px solid #ccc;
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: aliceblue;
    flex-grow: 1;
}

.form h4{
    margin-top: 30px !important;
    margin-bottom: 10px;
}
